
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Bebas%20Neue);

$primary: rgb(2, 4, 22);
$secondary: rgb(33, 37, 82);
$dark: rgb(18, 18, 22);
$white: #fff;
$odd_bg: rgb(241, 241, 241);
$even_bg: $primary;
$light_dark: rgb(78, 78, 78);
$dark_red: rgb(158, 26, 26);
$text_center: center;
$text_left: left;
$text_right: right;
$mute_text: #ccc;

$font_small: .7rem;
$font_medium: .9rem;

body{
    padding: 0;
    margin:0;
    font-family: 'Roboto';
}

h1,h2,h3,h4,h5{
    margin:0;
    font-family: 'Oswald';
}
select{
    min-width: 300px;
    max-width: 100%;
    padding: .5em;
}
p,a,pre,span,label,select,option,input{
    margin:0;
    font-family: 'Roboto';
    outline-style: none;
}
table{
    // margin-top: 1em;
    width: auto !important;
    max-width: 100% !important;
    margin:0 !important;
    padding:0 !important;
}
table.table{
    padding: 0;
    border: 1px solid #dedede;  
    border-collapse: collapse;
    tr{
        &:hover{
            cursor:pointer;
            background-color: rgb(220, 231, 168);
            a{
                color: $dark !important;
            }
        }
        th,td{
            border: .5px solid rgb(165, 160, 160);
            padding: .2em .4em;
            font-size: $font_small;
            white-space: nowrap;
        }
        th{
            text-align: $text_center;
            color: $dark;
            background-color: #dedede;
            
        } 
    }
} 
div.main{
    background: linear-gradient(to bottom, rgb(241, 227, 227), $dark);;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
section, footer {
    width: 1100px;
    max-width: 100%;
    min-height: 300px;
    .inner{
        width: 100%;
    }
    &:not(.main-header):not(.head){
        padding: 1em !important;
    }
} 
section.head{
    min-height: 0 !important;
    // background: $secondary;
    background: linear-gradient(to bottom, #686c7e, $primary);
    border-bottom: 1px solid #6e4949;
    padding: .4em;
    display: flex;
    ul{
        margin:0;
        padding:0;
        li{
            padding:0;
            margin:0;
            display: inline-block;
            a{
                padding: 0 1em;
                display:block;
                font-size: $font_small;
                color: $mute_text;
                &:hover{
                    color: $white !important;
                }
            }
            a.active{
                color:$white;
            }
        }
        li:not(:last-child){
            border-right: 1px solid #dedede;
        }
    }
} 
section.main-header{
    position:relative;
    overflow: hidden;
    background: $primary;
    padding: 0 !important;
    min-height: 0 !important;
    .logo{
        padding: 1em;
        color: $white;
        display:flex;
        justify-content: center;
        align-items:center;
        img{
            width: 100%;
        }
    }

    ul{
        // border-top: 1px solid rgb(248, 246, 246);
        z-index: 1;
        margin:0 .3em;
        padding: .2em;
        list-style:none;
        li{
            text-decoration: none;
            display: inline-block;
            margin-left:-3px;
            a{
                font-family: 'Bebas Neue';
                text-decoration:none;
                font-size: 21px;
                padding: .2em 2em;
                color:$white;
                display:block;
                background: linear-gradient(to bottom, #4c589b, $primary);
                &:hover{
                    background: linear-gradient(to top, #4c589b, $primary);
                }
                &.active{
                    // color: $dark;
                    background: linear-gradient(to bottom, rgb(189, 236, 102), rgb(56, 3, 3));
                }
            }
        }
    }
}
section.body, section.middle{
    background: $white;
    position:relative;
    div.team{
        display:flex;
        justify-content : center;
        align-items: center;
        margin-bottom: 1em;
        padding: .5em;
        transition: .3s;
        &:hover{
            box-shadow: 0 0px 14px rgb(223, 216, 216);
        }
    }
    .header_section{
        z-index: 2;
        .profile{
          padding: .5em 1em;
          img{
            height: 220px;
          }
        }
        .logo{
          padding: .5em;
          img{
            width: 150px;
          }
        }
        .info{
          padding: .5em;
        }
    }
    .content_section{
        margin-top: 1em;
    }
    .alpha_list{
        width: 100%;
        padding: 1em;
        // display:flex;
        // flex-direction: row;
        .base_letter{
            padding: 0;
            font-weight: 900;
            font-size: 21px;
            width: 40px;
            height: 100%;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background:$white;
            text-decoration: underline;
            a{
                text-decoration: underline;
            }
            
        }
        .name_list{
            padding: .5em;
            width: calc(100% - 40px);
            border-bottom: 1px solid #dedede;
            a{  
                margin-right: 1em;
                font-size: 15px;
            }
        }
    }
    .summary{
        padding: 1em 0 !important;
        .label{
            background: $odd_bg;
            color: $dark;
            font-size: $font_medium;
            border: 1px solid #dedede;
            &:not(:last-child){
                border-bottom: none !important;
            }
        }
        .value{
            font-size: $font_medium;
            background: $white;
            color: $dark;
            text-align:center;
            border: 1px solid #dedede;
            border-bottom: none !important;
            border-left: none !important;
        }
    }
}
section.middle{
    background: $odd_bg;
}
section.search{
    min-height: 400px;
    background-color: $primary;
    background-image: url(../images/background/128156.jpg) !important;
    background-size: cover;
    background-position: center center;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}
section.news{
    min-height: 400px;
    background: $white;
}
footer{
    min-height: 400px;
    background: $primary;
}

.btn-app{
  cursor: pointer;
  padding: .5em 2em;
  border-radius: 0;
  border:none;
  font-size: $font_small;
}
.btn-app-primary{
    color: $white;
    background: linear-gradient(to top, rgb(221, 181, 106), rgb(235, 158, 16));
    &:not(:disabled):hover{
        background: linear-gradient(to bottom, rgb(221, 181, 106), rgb(235, 158, 16));
    }
}
.btn-lg{
    width: 100px !important;
    padding: 1em;
}

ul.tabs{
    z-index:1;
    width: 100%;
    padding:0;
    margin:0;
    margin-left:.3em;
    list-style:none;
    background: $primary;
    border-bottom: 4px solid rgb(235, 158, 16);
    li{ 
        margin-left:-5px;
        text-decoration: none;
        display: inline-block;
        a{
            font-family: 'Oswald';
            text-decoration:none;
            font-size: 14px;
            padding: .2em 2em;
            color:$white;
            display:block;
            background: linear-gradient(to bottom, #4c589b, $primary);
            &:hover{
                background: linear-gradient(to top, #4c589b, $primary);
            }
            &.active{
                // color: $dark;
                background: linear-gradient(to top, rgb(221, 181, 106), rgb(235, 158, 16));
            }
        }
    }
}
.tab-panel{
    width: 100% !important;
    background: rgb(241, 241, 241);
    display: flex;
    .tab-pane{
        width: 100%;
        min-height: 300px;
        display: none;
        padding: 1em !important;
        &.active{
           display: block; 
        }
    }
}
.box{
    padding: 0;
    border: 1px solid #dedede;
    box-shadow: 0 2px 14px #ccc;
    background:$white;
    .box-title{
        background: $secondary;
        padding: .3em;
        color: $white;
        font-size: 18px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
    .box-body{
      padding: .5em;
    }
    .box-footer{
      padding: 0;
    }

}
.image-wrapper{
//   margin-bottom:.5em;
//   margin-right: .3em;
    padding: .5em;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid $primary;
        box-shadow: 0 1px 5px #ccc;
    }
}

.text-primary{
    color: $primary !important;
}
.text-secondary{
    color: $secondary !important;
}
.text-dark-red{
    color: $dark_red !important;
}

// alignment
.center-center{
  width: 100%;
  height: 100%;
  display:flex !important;
  justify-content:center !important;
  align-items:center !important;
}
.row{
  margin: 0 !important;
  padding: 0 !important;
}

// fonts
.fs--1{font-size:.8rem!important}.fs-0{font-size:.9rem!important}.fs-1{font-size:1.333rem!important}.fs-2{font-size:1.77689rem!important}.fs-3{font-size:2.36859rem!important}.fs-4{font-size:3.15733rem!important}.fs-5{font-size:4.20873rem!important}.fs-6{font-size:5.61023rem!important}.fs-7{font-size:7.47844rem!important}.fs-8{font-size:9.96876rem!important}@media (min-width:36em){.fs-sm--1{font-size:.75019rem!important}.fs-sm-0{font-size:1rem!important}.fs-sm-1{font-size:1.333rem!important}.fs-sm-2{font-size:1.77689rem!important}.fs-sm-3{font-size:2.36859rem!important}.fs-sm-4{font-size:3.15733rem!important}.fs-sm-5{font-size:4.20873rem!important}.fs-sm-6{font-size:5.61023rem!important}.fs-sm-7{font-size:7.47844rem!important}.fs-sm-8{font-size:9.96876rem!important}}@media (min-width:48em){.fs-md--1{font-size:.75019rem!important}.fs-md-0{font-size:1rem!important}.fs-md-1{font-size:1.333rem!important}.fs-md-2{font-size:1.77689rem!important}.fs-md-3{font-size:2.36859rem!important}.fs-md-4{font-size:3.15733rem!important}.fs-md-5{font-size:4.20873rem!important}.fs-md-6{font-size:5.61023rem!important}.fs-md-7{font-size:7.47844rem!important}.fs-md-8{font-size:9.96876rem!important}}@media (min-width:62em){.fs-lg--1{font-size:.75019rem!important}.fs-lg-0{font-size:1rem!important}.fs-lg-1{font-size:1.333rem!important}.fs-lg-2{font-size:1.77689rem!important}.fs-lg-3{font-size:2.36859rem!important}.fs-lg-4{font-size:3.15733rem!important}.fs-lg-5{font-size:4.20873rem!important}.fs-lg-6{font-size:5.61023rem!important}.fs-lg-7{font-size:7.47844rem!important}.fs-lg-8{font-size:9.96876rem!important}}@media (min-width:75em){.fs-xl--1{font-size:.75019rem!important}.fs-xl-0{font-size:1rem!important}.fs-xl-1{font-size:1.333rem!important}.fs-xl-2{font-size:1.77689rem!important}.fs-xl-3{font-size:2.36859rem!important}.fs-xl-4{font-size:3.15733rem!important}.fs-xl-5{font-size:4.20873rem!important}.fs-xl-6{font-size:5.61023rem!important}.fs-xl-7{font-size:7.47844rem!important}.fs-xl-8{font-size:9.96876rem!important}}
// margins
.m-5{margin:5px!important}.mt-5,.my-5{margin-top:5px!important}.mr-5,.mx-5{margin-right:5px!important}.mb-5,.my-5{margin-bottom:5px!important}.ml-5,.mx-5{margin-left:5px!important}.m-10{margin:10px!important}.mt-10,.my-10{margin-top:10px!important}.mr-10,.mx-10{margin-right:10px!important}.mb-10,.my-10{margin-bottom:10px!important}.ml-10,.mx-10{margin-left:10px!important}.m-15{margin:15px!important}.mt-15,.my-15{margin-top:15px!important}.mr-15,.mx-15{margin-right:15px!important}.mb-15,.my-15{margin-bottom:15px!important}.ml-15,.mx-15{margin-left:15px!important}.m-20{margin:20px!important}.mt-20,.my-20{margin-top:20px!important}.mr-20,.mx-20{margin-right:20px!important}.mb-20,.my-20{margin-bottom:20px!important}.ml-20,.mx-20{margin-left:20px!important}.m-30{margin:30px!important}.mt-30,.my-30{margin-top:30px!important}.mr-30,.mx-30{margin-right:30px!important}.mb-30,.my-30{margin-bottom:30px!important}.ml-30,.mx-30{margin-left:30px!important}.m-50{margin:50px!important}.mt-50,.my-50{margin-top:50px!important}.mr-50,.mx-50{margin-right:50px!important}.mb-50,.my-50{margin-bottom:50px!important}.ml-50,.mx-50{margin-left:50px!important}.m-100{margin:100px!important}.mt-100,.my-100{margin-top:100px!important}.mr-100,.mx-100{margin-right:100px!important}.mb-100,.my-100{margin-bottom:100px!important}.ml-100,.mx-100{margin-left:100px!important}.m-150{margin:150px!important}.mt-150,.my-150{margin-top:150px!important}.mr-150,.mx-150{margin-right:150px!important}.mb-150,.my-150{margin-bottom:150px!important}.ml-150,.mx-150{margin-left:150px!important}.m-200{margin:200px!important}.mt-200,.my-200{margin-top:200px!important}.mr-200,.mx-200{margin-right:200px!important}.mb-200,.my-200{margin-bottom:200px!important}.ml-200,.mx-200{margin-left:200px!important}.m-300{margin:300px!important}.mt-300,.my-300{margin-top:300px!important}.mr-300,.mx-300{margin-right:300px!important}.mb-300,.my-300{margin-bottom:300px!important}.ml-300,.mx-300{margin-left:300px!important}.p-5{padding:5px!important}.pt-5,.py-5{padding-top:5px!important}.pr-5,.px-5{padding-right:5px!important}.pb-5,.py-5{padding-bottom:5px!important}.pl-5,.px-5{padding-left:5px!important}.p-10{padding:10px!important}.pt-10,.py-10{padding-top:10px!important}.pr-10,.px-10{padding-right:10px!important}.pb-10,.py-10{padding-bottom:10px!important}.pl-10,.px-10{padding-left:10px!important}.p-15{padding:15px!important}.pt-15,.py-15{padding-top:15px!important}.pr-15,.px-15{padding-right:15px!important}.pb-15,.py-15{padding-bottom:15px!important}.pl-15,.px-15{padding-left:15px!important}.p-20{padding:20px!important}.pt-20,.py-20{padding-top:20px!important}.pr-20,.px-20{padding-right:20px!important}.pb-20,.py-20{padding-bottom:20px!important}.pl-20,.px-20{padding-left:20px!important}.p-30{padding:30px!important}.pt-30,.py-30{padding-top:30px!important}.pr-30,.px-30{padding-right:30px!important}.pb-30,.py-30{padding-bottom:30px!important}.pl-30,.px-30{padding-left:30px!important}.p-50{padding:50px!important}.pt-50,.py-50{padding-top:50px!important}.pr-50,.px-50{padding-right:50px!important}.pb-50,.py-50{padding-bottom:50px!important}.pl-50,.px-50{padding-left:50px!important}.p-100{padding:100px!important}.pt-100,.py-100{padding-top:100px!important}.pr-100,.px-100{padding-right:100px!important}.pb-100,.py-100{padding-bottom:100px!important}.pl-100,.px-100{padding-left:100px!important}.p-150{padding:150px!important}.pt-150,.py-150{padding-top:150px!important}.pr-150,.px-150{padding-right:150px!important}.pb-150,.py-150{padding-bottom:150px!important}.pl-150,.px-150{padding-left:150px!important}.p-200{padding:200px!important}.pt-200,.py-200{padding-top:200px!important}.pr-200,.px-200{padding-right:200px!important}.pb-200,.py-200{padding-bottom:200px!important}.pl-200,.px-200{padding-left:200px!important}.p-300{padding:300px!important}.pt-300,.py-300{padding-top:300px!important}.pr-300,.px-300{padding-right:300px!important}.pb-300,.py-300{padding-bottom:300px!important}.pl-300,.px-300{padding-left:300px!important}.push,.items-push > div{margin-bottom:24px}.font-w300{font-weight:300!important}.font-w400{font-weight:400!important}.font-w600{font-weight:600!important}.font-w700{font-weight:700!important}.font-size-default{font-size:1rem!important}.font-size-xl{font-size:1.428571rem!important}.font-size-lg{font-size:1.285714rem!important}.font-size-md{font-size:1.142857rem!important}.font-size-sm{font-size:.928571rem!important}.font-size-xs{font-size:.857143rem!important}
