@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Bebas%20Neue);
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Oswald';
}

select {
  min-width: 300px;
  max-width: 100%;
  padding: .5em;
}

p, a, pre, span, label, select, option, input {
  margin: 0;
  font-family: 'Roboto';
  outline-style: none;
}

table {
  width: auto !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

table.table {
  padding: 0;
  border: 1px solid #dedede;
  border-collapse: collapse;
}

table.table tr:hover {
  cursor: pointer;
  background-color: #dce7a8;
}

table.table tr:hover a {
  color: #121216 !important;
}

table.table tr th, table.table tr td {
  border: 0.5px solid #a5a0a0;
  padding: .2em .4em;
  font-size: 0.7rem;
  white-space: nowrap;
}

table.table tr th {
  text-align: center;
  color: #121216;
  background-color: #dedede;
}

div.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e3e3), to(#121216));
  background: linear-gradient(to bottom, #f1e3e3, #121216);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section, footer {
  width: 1100px;
  max-width: 100%;
  min-height: 300px;
}

section .inner, footer .inner {
  width: 100%;
}

section:not(.main-header):not(.head), footer:not(.main-header):not(.head) {
  padding: 1em !important;
}

section.head {
  min-height: 0 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#686c7e), to(#020416));
  background: linear-gradient(to bottom, #686c7e, #020416);
  border-bottom: 1px solid #6e4949;
  padding: .4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.head ul {
  margin: 0;
  padding: 0;
}

section.head ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

section.head ul li a {
  padding: 0 1em;
  display: block;
  font-size: 0.7rem;
  color: #ccc;
}

section.head ul li a:hover {
  color: #fff !important;
}

section.head ul li a.active {
  color: #fff;
}

section.head ul li:not(:last-child) {
  border-right: 1px solid #dedede;
}

section.main-header {
  position: relative;
  overflow: hidden;
  background: #020416;
  padding: 0 !important;
  min-height: 0 !important;
}

section.main-header .logo {
  padding: 1em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main-header .logo img {
  width: 100%;
}

section.main-header ul {
  z-index: 1;
  margin: 0 .3em;
  padding: .2em;
  list-style: none;
}

section.main-header ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: -3px;
}

section.main-header ul li a {
  font-family: 'Bebas Neue';
  text-decoration: none;
  font-size: 21px;
  padding: .2em 2em;
  color: #fff;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c589b), to(#020416));
  background: linear-gradient(to bottom, #4c589b, #020416);
}

section.main-header ul li a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#4c589b), to(#020416));
  background: linear-gradient(to top, #4c589b, #020416);
}

section.main-header ul li a.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#bdec66), to(#380303));
  background: linear-gradient(to bottom, #bdec66, #380303);
}

section.body, section.middle {
  background: #fff;
  position: relative;
}

section.body div.team, section.middle div.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  padding: .5em;
  -webkit-transition: .3s;
  transition: .3s;
}

section.body div.team:hover, section.middle div.team:hover {
  -webkit-box-shadow: 0 0px 14px #dfd8d8;
          box-shadow: 0 0px 14px #dfd8d8;
}

section.body .header_section, section.middle .header_section {
  z-index: 2;
}

section.body .header_section .profile, section.middle .header_section .profile {
  padding: .5em 1em;
}

section.body .header_section .profile img, section.middle .header_section .profile img {
  height: 220px;
}

section.body .header_section .logo, section.middle .header_section .logo {
  padding: .5em;
}

section.body .header_section .logo img, section.middle .header_section .logo img {
  width: 150px;
}

section.body .header_section .info, section.middle .header_section .info {
  padding: .5em;
}

section.body .content_section, section.middle .content_section {
  margin-top: 1em;
}

section.body .alpha_list, section.middle .alpha_list {
  width: 100%;
  padding: 1em;
}

section.body .alpha_list .base_letter, section.middle .alpha_list .base_letter {
  padding: 0;
  font-weight: 900;
  font-size: 21px;
  width: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  text-decoration: underline;
}

section.body .alpha_list .base_letter a, section.middle .alpha_list .base_letter a {
  text-decoration: underline;
}

section.body .alpha_list .name_list, section.middle .alpha_list .name_list {
  padding: .5em;
  width: calc(100% - 40px);
  border-bottom: 1px solid #dedede;
}

section.body .alpha_list .name_list a, section.middle .alpha_list .name_list a {
  margin-right: 1em;
  font-size: 15px;
}

section.body .summary, section.middle .summary {
  padding: 1em 0 !important;
}

section.body .summary .label, section.middle .summary .label {
  background: #f1f1f1;
  color: #121216;
  font-size: 0.9rem;
  border: 1px solid #dedede;
}

section.body .summary .label:not(:last-child), section.middle .summary .label:not(:last-child) {
  border-bottom: none !important;
}

section.body .summary .value, section.middle .summary .value {
  font-size: 0.9rem;
  background: #fff;
  color: #121216;
  text-align: center;
  border: 1px solid #dedede;
  border-bottom: none !important;
  border-left: none !important;
}

section.middle {
  background: #f1f1f1;
}

section.search {
  min-height: 400px;
  background-color: #020416;
  background-image: url(../images/background/128156.jpg) !important;
  background-size: cover;
  background-position: center center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

section.news {
  min-height: 400px;
  background: #fff;
}

footer {
  min-height: 400px;
  background: #020416;
}

.btn-app {
  cursor: pointer;
  padding: .5em 2em;
  border-radius: 0;
  border: none;
  font-size: 0.7rem;
}

.btn-app-primary {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#ddb56a), to(#eb9e10));
  background: linear-gradient(to top, #ddb56a, #eb9e10);
}

.btn-app-primary:not(:disabled):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddb56a), to(#eb9e10));
  background: linear-gradient(to bottom, #ddb56a, #eb9e10);
}

.btn-lg {
  width: 100px !important;
  padding: 1em;
}

ul.tabs {
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-left: .3em;
  list-style: none;
  background: #020416;
  border-bottom: 4px solid #eb9e10;
}

ul.tabs li {
  margin-left: -5px;
  text-decoration: none;
  display: inline-block;
}

ul.tabs li a {
  font-family: 'Oswald';
  text-decoration: none;
  font-size: 14px;
  padding: .2em 2em;
  color: #fff;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#4c589b), to(#020416));
  background: linear-gradient(to bottom, #4c589b, #020416);
}

ul.tabs li a:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#4c589b), to(#020416));
  background: linear-gradient(to top, #4c589b, #020416);
}

ul.tabs li a.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddb56a), to(#eb9e10));
  background: linear-gradient(to top, #ddb56a, #eb9e10);
}

.tab-panel {
  width: 100% !important;
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-panel .tab-pane {
  width: 100%;
  min-height: 300px;
  display: none;
  padding: 1em !important;
}

.tab-panel .tab-pane.active {
  display: block;
}

.box {
  padding: 0;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 2px 14px #ccc;
          box-shadow: 0 2px 14px #ccc;
  background: #fff;
}

.box .box-title {
  background: #212552;
  padding: .3em;
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.box .box-body {
  padding: .5em;
}

.box .box-footer {
  padding: 0;
}

.image-wrapper {
  padding: .5em;
  border: 1px solid transparent;
}

.image-wrapper:hover {
  border: 1px solid #020416;
  -webkit-box-shadow: 0 1px 5px #ccc;
          box-shadow: 0 1px 5px #ccc;
}

.text-primary {
  color: #020416 !important;
}

.text-secondary {
  color: #212552 !important;
}

.text-dark-red {
  color: #9e1a1a !important;
}

.center-center {
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.fs--1 {
  font-size: 0.8rem !important;
}

.fs-0 {
  font-size: 0.9rem !important;
}

.fs-1 {
  font-size: 1.333rem !important;
}

.fs-2 {
  font-size: 1.77689rem !important;
}

.fs-3 {
  font-size: 2.36859rem !important;
}

.fs-4 {
  font-size: 3.15733rem !important;
}

.fs-5 {
  font-size: 4.20873rem !important;
}

.fs-6 {
  font-size: 5.61023rem !important;
}

.fs-7 {
  font-size: 7.47844rem !important;
}

.fs-8 {
  font-size: 9.96876rem !important;
}

@media (min-width: 36em) {
  .fs-sm--1 {
    font-size: 0.75019rem !important;
  }
  .fs-sm-0 {
    font-size: 1rem !important;
  }
  .fs-sm-1 {
    font-size: 1.333rem !important;
  }
  .fs-sm-2 {
    font-size: 1.77689rem !important;
  }
  .fs-sm-3 {
    font-size: 2.36859rem !important;
  }
  .fs-sm-4 {
    font-size: 3.15733rem !important;
  }
  .fs-sm-5 {
    font-size: 4.20873rem !important;
  }
  .fs-sm-6 {
    font-size: 5.61023rem !important;
  }
  .fs-sm-7 {
    font-size: 7.47844rem !important;
  }
  .fs-sm-8 {
    font-size: 9.96876rem !important;
  }
}

@media (min-width: 48em) {
  .fs-md--1 {
    font-size: 0.75019rem !important;
  }
  .fs-md-0 {
    font-size: 1rem !important;
  }
  .fs-md-1 {
    font-size: 1.333rem !important;
  }
  .fs-md-2 {
    font-size: 1.77689rem !important;
  }
  .fs-md-3 {
    font-size: 2.36859rem !important;
  }
  .fs-md-4 {
    font-size: 3.15733rem !important;
  }
  .fs-md-5 {
    font-size: 4.20873rem !important;
  }
  .fs-md-6 {
    font-size: 5.61023rem !important;
  }
  .fs-md-7 {
    font-size: 7.47844rem !important;
  }
  .fs-md-8 {
    font-size: 9.96876rem !important;
  }
}

@media (min-width: 62em) {
  .fs-lg--1 {
    font-size: 0.75019rem !important;
  }
  .fs-lg-0 {
    font-size: 1rem !important;
  }
  .fs-lg-1 {
    font-size: 1.333rem !important;
  }
  .fs-lg-2 {
    font-size: 1.77689rem !important;
  }
  .fs-lg-3 {
    font-size: 2.36859rem !important;
  }
  .fs-lg-4 {
    font-size: 3.15733rem !important;
  }
  .fs-lg-5 {
    font-size: 4.20873rem !important;
  }
  .fs-lg-6 {
    font-size: 5.61023rem !important;
  }
  .fs-lg-7 {
    font-size: 7.47844rem !important;
  }
  .fs-lg-8 {
    font-size: 9.96876rem !important;
  }
}

@media (min-width: 75em) {
  .fs-xl--1 {
    font-size: 0.75019rem !important;
  }
  .fs-xl-0 {
    font-size: 1rem !important;
  }
  .fs-xl-1 {
    font-size: 1.333rem !important;
  }
  .fs-xl-2 {
    font-size: 1.77689rem !important;
  }
  .fs-xl-3 {
    font-size: 2.36859rem !important;
  }
  .fs-xl-4 {
    font-size: 3.15733rem !important;
  }
  .fs-xl-5 {
    font-size: 4.20873rem !important;
  }
  .fs-xl-6 {
    font-size: 5.61023rem !important;
  }
  .fs-xl-7 {
    font-size: 7.47844rem !important;
  }
  .fs-xl-8 {
    font-size: 9.96876rem !important;
  }
}

.m-5 {
  margin: 5px !important;
}

.mt-5, .my-5 {
  margin-top: 5px !important;
}

.mr-5, .mx-5 {
  margin-right: 5px !important;
}

.mb-5, .my-5 {
  margin-bottom: 5px !important;
}

.ml-5, .mx-5 {
  margin-left: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-10, .my-10 {
  margin-top: 10px !important;
}

.mr-10, .mx-10 {
  margin-right: 10px !important;
}

.mb-10, .my-10 {
  margin-bottom: 10px !important;
}

.ml-10, .mx-10 {
  margin-left: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.mt-15, .my-15 {
  margin-top: 15px !important;
}

.mr-15, .mx-15 {
  margin-right: 15px !important;
}

.mb-15, .my-15 {
  margin-bottom: 15px !important;
}

.ml-15, .mx-15 {
  margin-left: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20, .my-20 {
  margin-top: 20px !important;
}

.mr-20, .mx-20 {
  margin-right: 20px !important;
}

.mb-20, .my-20 {
  margin-bottom: 20px !important;
}

.ml-20, .mx-20 {
  margin-left: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-30, .my-30 {
  margin-top: 30px !important;
}

.mr-30, .mx-30 {
  margin-right: 30px !important;
}

.mb-30, .my-30 {
  margin-bottom: 30px !important;
}

.ml-30, .mx-30 {
  margin-left: 30px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-50, .my-50 {
  margin-top: 50px !important;
}

.mr-50, .mx-50 {
  margin-right: 50px !important;
}

.mb-50, .my-50 {
  margin-bottom: 50px !important;
}

.ml-50, .mx-50 {
  margin-left: 50px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-100, .my-100 {
  margin-top: 100px !important;
}

.mr-100, .mx-100 {
  margin-right: 100px !important;
}

.mb-100, .my-100 {
  margin-bottom: 100px !important;
}

.ml-100, .mx-100 {
  margin-left: 100px !important;
}

.m-150 {
  margin: 150px !important;
}

.mt-150, .my-150 {
  margin-top: 150px !important;
}

.mr-150, .mx-150 {
  margin-right: 150px !important;
}

.mb-150, .my-150 {
  margin-bottom: 150px !important;
}

.ml-150, .mx-150 {
  margin-left: 150px !important;
}

.m-200 {
  margin: 200px !important;
}

.mt-200, .my-200 {
  margin-top: 200px !important;
}

.mr-200, .mx-200 {
  margin-right: 200px !important;
}

.mb-200, .my-200 {
  margin-bottom: 200px !important;
}

.ml-200, .mx-200 {
  margin-left: 200px !important;
}

.m-300 {
  margin: 300px !important;
}

.mt-300, .my-300 {
  margin-top: 300px !important;
}

.mr-300, .mx-300 {
  margin-right: 300px !important;
}

.mb-300, .my-300 {
  margin-bottom: 300px !important;
}

.ml-300, .mx-300 {
  margin-left: 300px !important;
}

.p-5 {
  padding: 5px !important;
}

.pt-5, .py-5 {
  padding-top: 5px !important;
}

.pr-5, .px-5 {
  padding-right: 5px !important;
}

.pb-5, .py-5 {
  padding-bottom: 5px !important;
}

.pl-5, .px-5 {
  padding-left: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10, .py-10 {
  padding-top: 10px !important;
}

.pr-10, .px-10 {
  padding-right: 10px !important;
}

.pb-10, .py-10 {
  padding-bottom: 10px !important;
}

.pl-10, .px-10 {
  padding-left: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.pt-15, .py-15 {
  padding-top: 15px !important;
}

.pr-15, .px-15 {
  padding-right: 15px !important;
}

.pb-15, .py-15 {
  padding-bottom: 15px !important;
}

.pl-15, .px-15 {
  padding-left: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20, .py-20 {
  padding-top: 20px !important;
}

.pr-20, .px-20 {
  padding-right: 20px !important;
}

.pb-20, .py-20 {
  padding-bottom: 20px !important;
}

.pl-20, .px-20 {
  padding-left: 20px !important;
}

.p-30 {
  padding: 30px !important;
}

.pt-30, .py-30 {
  padding-top: 30px !important;
}

.pr-30, .px-30 {
  padding-right: 30px !important;
}

.pb-30, .py-30 {
  padding-bottom: 30px !important;
}

.pl-30, .px-30 {
  padding-left: 30px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-50, .py-50 {
  padding-top: 50px !important;
}

.pr-50, .px-50 {
  padding-right: 50px !important;
}

.pb-50, .py-50 {
  padding-bottom: 50px !important;
}

.pl-50, .px-50 {
  padding-left: 50px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-100, .py-100 {
  padding-top: 100px !important;
}

.pr-100, .px-100 {
  padding-right: 100px !important;
}

.pb-100, .py-100 {
  padding-bottom: 100px !important;
}

.pl-100, .px-100 {
  padding-left: 100px !important;
}

.p-150 {
  padding: 150px !important;
}

.pt-150, .py-150 {
  padding-top: 150px !important;
}

.pr-150, .px-150 {
  padding-right: 150px !important;
}

.pb-150, .py-150 {
  padding-bottom: 150px !important;
}

.pl-150, .px-150 {
  padding-left: 150px !important;
}

.p-200 {
  padding: 200px !important;
}

.pt-200, .py-200 {
  padding-top: 200px !important;
}

.pr-200, .px-200 {
  padding-right: 200px !important;
}

.pb-200, .py-200 {
  padding-bottom: 200px !important;
}

.pl-200, .px-200 {
  padding-left: 200px !important;
}

.p-300 {
  padding: 300px !important;
}

.pt-300, .py-300 {
  padding-top: 300px !important;
}

.pr-300, .px-300 {
  padding-right: 300px !important;
}

.pb-300, .py-300 {
  padding-bottom: 300px !important;
}

.pl-300, .px-300 {
  padding-left: 300px !important;
}

.push, .items-push > div {
  margin-bottom: 24px;
}

.font-w300 {
  font-weight: 300 !important;
}

.font-w400 {
  font-weight: 400 !important;
}

.font-w600 {
  font-weight: 600 !important;
}

.font-w700 {
  font-weight: 700 !important;
}

.font-size-default {
  font-size: 1rem !important;
}

.font-size-xl {
  font-size: 1.42857rem !important;
}

.font-size-lg {
  font-size: 1.28571rem !important;
}

.font-size-md {
  font-size: 1.14286rem !important;
}

.font-size-sm {
  font-size: 0.92857rem !important;
}

.font-size-xs {
  font-size: 0.85714rem !important;
}
